@layer base {
    .markdown {
        h2 {
            @apply pt-13 pb-3 text-4xl;
            a {
                @apply text-font hover:text-font-secondary no-underline hover:no-underline hover:after:ml-2 hover:after:content-['ยง'];
            }
        }
        h3 {
            @apply pt-8 pb-2 text-3xl;
            a {
                @apply text-font hover:text-font-secondary no-underline hover:no-underline hover:after:ml-2 hover:after:content-['ยง'];
            }
        }
        h4 {
            @apply pt-6 pb-2 text-2xl;
            a {
                @apply text-font hover:text-font-secondary no-underline hover:no-underline hover:after:ml-2 hover:after:content-['ยง'];
            }
        }
        h5 {
            @apply pt-3 pb-1 text-xl;
            a {
                @apply text-font hover:text-font-secondary no-underline hover:no-underline hover:after:ml-2 hover:after:content-['ยง'];
            }
        }

        p {
            @apply pb-4 text-lg leading-relaxed;
        }

        a {
            @apply text-font-secondary active:text-font decoration-dashed underline-offset-3 transition-all duration-150 ease-in-out hover:underline hover:underline-offset-6;
        }

        blockquote {
            @apply bg-background-secondary border-border my-3 rounded-r-md border-l-4 px-6 py-3;
        }

        strong {
            @apply text-lg leading-relaxed font-bold;
        }

        em {
            @apply text-lg leading-relaxed;
        }

        kbd {
            @apply bg-background-secondary ring-font rounded-md px-2 py-0.5 font-mono text-base ring-1;
        }

        .astro-code {
            @apply my-6 rounded-md p-6;
        }
        .astro-code code {
            @apply bg-inherit p-0 font-medium;
        }
        code {
            @apply bg-background-secondary text-font rounded-md px-2 py-0.5 font-mono text-base leading-relaxed;
        }

        ol {
            @apply list-decimal space-y-1 px-8 py-1;
        }
        ul {
            @apply list-disc space-y-1 px-8 py-1;
        }
        li {
            @apply px-1 text-lg leading-relaxed;
        }

        dl {
            @apply visible;
        }
        dt {
            @apply visible;
        }
        dd {
            @apply visible;
        }

        table {
            @apply mx-auto my-8 w-full;
        }
        tr {
            @apply visible;
        }
        th {
            @apply bg-font/8 ring-font/18 px-3 py-1 text-center text-lg ring-1;
        }
        td {
            @apply ring-font/18 px-3 py-1 ring-1;
        }

        img {
            @apply mx-auto my-8;
        }

        hr {
            @apply border-border mx-13 mt-13 mb-3;
        }
    }
}
