---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex h-200 flex-col items-center justify-center">
        <h1 class="font-mono text-8xl">404</h1>
        <h2 class="text-font-secondary text-3xl">The page you requested cannot be found!</h2>
    </div>
</BaseLayout>
