---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="h-200 flex flex-col justify-center items-center">
        <h1 class="text-8xl font-mono">404</h1>
        <h2 class="text-3xl text-font-secondary">The page you requested cannot be found!</h2>
    </div>
</BaseLayout>
