---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { PostEntry } from "../content.config.ts";
import PostCard from "../components/PostCard.astro";

const posts: PostEntry[] = await getCollection("posts");
const recent_posts: PostEntry[] = posts
    .sort((a: PostEntry, b: PostEntry) => b.data.date.getTime() - a.data.date.getTime())
    .slice(0, 3);
---

<BaseLayout>
    <div class="flex h-60 flex-col justify-center px-5 lg:h-150 lg:px-10">
        <h1 class="text-7xl font-bold lg:text-9xl">Keblo?</h1>
        <h2 class="text-font-secondary text-xl font-bold lg:text-3xl">A collection of blog posts from Kevin Traini</h2>
    </div>
    <div class="py-10">
        <h3 class="pb-5 text-2xl font-bold">Recent posts</h3>
        <div class="grid w-full grid-cols-1 gap-3 lg:grid-cols-2">
            {recent_posts.map((post: PostEntry) => <PostCard post={post} />)}
            <div class="flex items-center justify-center">
                <a class="flex items-center justify-center" title="See more" href={new URL("posts", Astro.url)}>
                    <p class="group flex items-center text-lg">
                        See more
                        <span
                            class="bg-background border-border shadow-shadow group-hover:bg-background-active ml-2 flex size-10 items-center justify-center rounded-full border shadow transition-colors"
                        >
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</BaseLayout>
