---
/**
    * Keblo?
    * Copyright (C) 2026-Present  Kevin Traini
    *
    * This program is free software; you can redistribute it and/or modify
    * it under the terms of the GNU General Public License as published by
    * the Free Software Foundation; either version 2 of the License, or
    * (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License along
    * with this program; if not, write to the Free Software Foundation, Inc.,
    * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
    */
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { PostEntry } from "../content.config.ts";
import PostCard from "../components/PostCard.astro";

const posts: PostEntry[] = await getCollection("posts");
const recent_posts: PostEntry[] = posts.sort(
    (a: PostEntry, b: PostEntry) => b.data.date.getTime() - a.data.date.getTime(),
).slice(0, 3);
---

<BaseLayout>
    <div class="h-150 flex flex-col justify-center px-10">
        <h1 class="text-9xl font-bold">Keblo?</h1>
        <h2 class="text-3xl font-bold text-font-secondary">A collection of blog posts from Kevin Traini</h2>
    </div>
    <div class="py-10">
        <h3 class="text-2xl font-bold pb-5">Recent posts</h3>
        <div class="w-full grid grid-cols-2 gap-3">
            {
                recent_posts.map(
                    (post: PostEntry) =>
                        <PostCard post={post}/>,
                )
            }
            <div class="flex justify-center items-center">
                <a
                    class="flex justify-center items-center"
                    title="See more"
                    href={new URL("posts", Astro.url)}>
                    <p class="text-lg flex items-center group">
                        See more
                        <span
                            class="flex justify-center items-center ml-2 size-10 bg-background border border-border rounded-full shadow shadow-shadow transition-colors group-hover:bg-background-active">
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</BaseLayout>
