---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Home</h1>
    <ul>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
        <li>TODO</li>
    </ul>
</BaseLayout>
