---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { PostEntry } from "../content.config.ts";
import PostCard from "../components/PostCard.astro";

const posts: PostEntry[] = (await getCollection("posts")).sort(
    (a: PostEntry, b: PostEntry) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<BaseLayout>
    <h1 class="text-4xl">All the posts</h1>
    <div class="my-8 flex justify-center">
        <div class="border-border w-4/5 border-b-2"></div>
    </div>
    <div class="mb-10 grid grid-cols-2 gap-5">
        {posts.map((post) => <PostCard post={post} />)}
    </div>
</BaseLayout>
