<footer class="bg-background-secondary relative flex w-full justify-center py-5">
    <p>All Rights Reserved 2026-Present Kevin Traini</p>
    <img src="/signature.png" class="pointer-events-none absolute right-1.25 bottom-0 h-5" alt="" loading="lazy" />
</footer>
