<footer class="w-full py-5 flex justify-center relative bg-background-secondary">
    <p>Copyright 2026-Present Kevin Traini</p>
    <img src="/signature.png" class="absolute h-5 right-1.25 bottom-0 pointer-events-none" alt=""/>
</footer>
